* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-color: #0e131f;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-flex;
  list-style: none;
  margin: 20px 50px;
}

nav ul li a {
  text-align: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 300;
  color: #ff00db;
  padding: 1rem;
}

nav ul li a:hover {
  color: #212121;
  background-color: #ff00db;
  box-shadow: 0px 0px 80px 10px #ff00db;
  border-radius: 50px;
}

.header-container {
  font-size: 2rem;
  color: #0e131f;

  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #ff00db;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-position: under;
}

.header-container h1:hover {
  color: #0e131f;
  text-shadow: 0 0 7px #ff00db, 0 0 10px #ff00db, 0 0 21px #ff00db;
}

main {
  margin: auto 15%;
}

.about-quote {
  font-size: 2rem;
  text-align: center;
  color: #ff00dd;
  justify-content: center;
  margin: 3rem;
  text-shadow: 0 0 27px #ff00db, 0 0 20px #ff00db, 0 0 21px #ff00db;
}
.about-container {
  display: flex;
  margin-top: 8rem;
}

.about img {
  margin-top: 10%;
  height: 80%;
  padding: 3rem;

  box-shadow: 0 11px 15px 5px #ff00db;
  animation: move-it 6s ease-in-out infinite;
  transition: all 0ms ease-in-out;
}

@keyframes move-it {
  0%,
  100% {
    border-radius: 70% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 80%;
  }
}

.about-text {
  margin-top: 2%;
  border-left: 1px solid #ff00db;
}

.about-text h2 {
  font-size: 3rem;
  color: #ff00db;
  margin-top: 1.5rem;
  padding: 2rem;
  text-align: center;
  letter-spacing: 10px;
}
.about-text span {
  color: #ff00db;
  font-size: 2rem;
  font-weight: 200;
}

.about-text p {
  color: #ff00db;
  font-size: 1rem;
  text-shadow: 0px 0px 80px 10px #ff00db;
  margin: 10px;
  text-align: center;
  line-height: 2;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  color: pink;
  height: 100px;
}

footer p {
  margin-top: 10rem;
}
