:root {
  --clr-bg: #0e131f;
  --clr-primary: #ff00db;
  --margin: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-color: var(--clr-bg);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 600px 150px;
  gap: 1rem;
  grid-template-areas:
    "header   header"
    "hire-me   hire-me"
    "content    content"
    "footer   footer";
}

.grid-header {
  grid-area: header;
  margin-right: 0%;
}

nav ul {
  display: flex;
  justify-content: end;
  font-size: 5rem;

  list-style-type: none;
}
.grid-header nav ul li {
  align-self: center;
}

.grid-header nav ul a {
  text-decoration: none;
  color: var(--clr-primary);
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 400;
  color: var(--clr-primary);
  transition: 0.5s;
  font-size: 2rem;
}

.grid-header nav ul a:hover {
  border-top-color: var(--clr-primary);
  border-bottom-color: var(--clr-primary);
}

.bars {
  display: none;
}

.grid-hire-me {
  grid-area: hire-me;
}

.grid-hire-me h1 {
  position: absolute;
  top: 100px;
  font-size: 2rem;
  color: #0e131f;

  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: var(--clr-primary);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-position: under;
}

.bubbles {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 92vw;
}

.bubbles span {
  width: 15px;
  height: 15px;
  background: #f8aaee;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 7px var(--clr-primary), 0 0 10px var(--clr-primary),
    0 0 21px var(--clr-primary);
  animation: bubbles 20s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #b668ff;
  box-shadow: 0 0 7px #b668ff, 0 0 10px #b668ff, 0 0 21px #b668ff;
}

@keyframes bubbles {
  0% {
    transform: translateY(100vh) scale(0);
  }
}

.grid-content {
  grid-area: hire-me;

  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 10%;
  margin-left: 25%;
  width: 50%;
}

.grid-contact-form {
  grid-area: form;
}

.grid-content h3 {
  font-size: 4rem;
  color: var(--clr-primary);

  text-align: center;
}
.grid-content span {
  color: #0e131f;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: var(--clr-primary);
}

.grid-content h2 {
  font-size: 3rem;
  color: var(--clr-primary);
  margin: auto 25%;
  text-align: center;
}

.contact-btn {
  width: 20%;
  margin: 20px auto;
  padding: 2rem;
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-bg);
  border-radius: 10%;
  height: 200px;
  box-shadow: 0 0 87px var(--clr-primary), 0 0 20px var(--clr-primary),
    0 0 21px var(--clr-primary);
}
.contact-btn:hover {
  background-color: var(--clr-primary);
}
.contact-link:hover {
  color: var(--clr-bg);
}
.contact-link {
  text-decoration: none;
  font-size: 2rem;
  color: var(--clr-primary);
}

.footer {
  grid-area: footer;
  color: var(--clr-primary);
  font-size: 1rem;
  text-align: center;
  margin-top: 8%;
}
.icon {
  margin: 5px;
}

@media screen and (max-width: 960px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 100px auto 150px;
    gap: 2rem;
    grid-template-areas:
      "header"
      "content"
      "hire-me"
      "footer";
  }

  nav {
    display: none;
  }

  .bars {
    display: block;
    color: var(--clr-primary);
    font-size: 2rem;
    font-weight: 200;
    position: absolute;
    top: 2%;
    left: 90%;
  }

  .grid-hire-me {
    grid-area: header;
  }

  .grid-hire-me h1 {
    position: absolute;
    top: 10px;
    font-size: 2rem;
    color: #0e131f;
    margin-left: 28%;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: var(--clr-primary);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-position: under;
  }

  .grid-content {
    grid-area: hire-me;
    position: relative;
    bottom: 200px;
    margin: auto 1%;
  }

  .grid-content h2 {
    font-size: 2rem;
  }

  .contact-btn {
    width: 80%;
    height: 250px;
    margin-left: 80px;
    padding: 2rem;
    border: 1px solid var(--clr-primary);
    background-color: var(--clr-bg);
    border-radius: 10px;
  }
  .contact-btn:hover {
    background-color: var(--clr-primary);
    box-shadow: 0 0 87px var(--clr-primary), 0 0 20px,
      0 0 21px var(--clr-primary);
  }

  .grid-footer {
    grid-area: footer;
    margin-top: rem;
  }
}

@media screen and (min-width: 961px) {
  .contact-btn {
    width: 50%;
    margin: auto;
    padding: 2rem;
    border: 1px solid var(--clr-primary);
    background-color: var(--clr-bg);
    border-radius: 10px;
  }
}
